body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
caption,th { text-align:center; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }

body { background: #555879; }
/* optional Container STYLES */
.Treant > .node { padding: 3px; border: 1px solid #DED3C4; border-radius: 3px; cursor: pointer; }
.Treant > .node img { width: 100px; height: 120px; }
.Treant > .node .node-desc{position: absolute; text-align: center; top: 15px; left: 5px; right: 5px; font-size: 12px; color: #333; opacity: 0; pointer-events: none; transition: opacity 2s ease;}
.Treant > .node:hover img{opacity: 0.3;}
.Treant > .node:hover .node-desc{opacity: 1;}
.Treant .collapse-switch { width: 100%; height: 100%; border: none; }
.Treant .node.collapsed { background-color: #DED3C4; }
.Treant .node.collapsed .collapse-switch { background: none; }